@use "@material/theme" with (
  $primary: #512da8,
  $secondary: #00796b,
  $background: #c7c7c7,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";

@include card.core-styles;
@include textfield.core-styles;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px auto;
  display: flex;
  height: 100vh;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
  @include icon-button.core-styles;
}

section {
  text-align: center;
}

// .content {
//   margin: 10rem auto;
//   padding-bottom: 20rem;
//   text-align: center;
// }

.main-content {
  overflow: auto;
  height: 100%;
}

.sample-content--hidden {
  display: none;
}

.mdc-tab {
    background-color: #67daff;
}

.mdc-tab__content .mdc-tab__text-label {
    color: black;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
  margin-left: 8px;
}

.mdc-drawer__content{
  border-right: 1px solid #e0e0e0;
}

.mdc-list{
  width: 100%;
}

.mdc-list-item{
  background-color: #439889;
  border-radius: 16px;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 6px;
  color: white;
}

.material-icons{
  color: white;
}

.mdc-list-item__text{
  margin-left: 8px;
  color: white;
  font-size: small;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name{
  font-size: medium;
  text-align: center;
  margin-bottom: 10px;
}

.avatar{
  width: 150px;
  height: 150px;
}

.avatar-img{
  width: 100%;
  height: 100%;
}

.agregar-gasto{
  margin-left: 25px;
}

.titulo-agregar{
  text-align: start;
  color: gray;
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.mdc-text-field{
  width: 90%;
  margin: 10px auto;
}

.mdc-text-field__input{
  color: gray;
  font-size: small;
}

.mdc-floating-label{
  font-size: 14px;
}

.mdc-select{
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.mdc-button{
  border-radius: 10px;
  font-weight: bolder;
  width: 35%;
  height: 45px;
}

.mdc-snackbar__actions .mdc-button__label {
  color: #67daff;
}